@model IEnumerable<DeveloperModule.Models.Bug>

@{
    ViewBag.Title = "ViewBugs";
}

<h2>ViewBugs</h2>

<p>
    @Html.ActionLink("Add Bug", "bugdev")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Developer.devid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bugdesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Developer.devid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bugdesc)
        </td>
        <td>
            @Html.ActionLink("Back", "ReadD", new { id=item.bugid }) |
    
        </td>
    </tr>
}

</table>
